@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Products List</h1>
    <table class="table-dark">
        <thead class="shadow-sm">...</thead>
    </table>
</div>
